<script src="/assets/js/dist/echarts.js"></script>
<script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>
<!-- <script src="/assets/js/jquery-1.3.2.min.js"></script> -->
<style type="text/css">
    .sm-st {
        background:#fff;
        padding:20px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        margin-bottom:20px;
        -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
        box-shadow: 0 1px 0px rgba(0,0,0,0.05);
    }
    .sm-st-icon {
        width:60px;
        height:60px;
        display:inline-block;
        line-height:60px;
        text-align:center;
        font-size:30px;
        background:#eee;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        float:left;
        margin-right:10px;
        color:#fff;
    }
    .sm-st-info {
        font-size:12px;
        padding-top:2px;
    }
    .sm-st-info span {
        display:block;
        font-size:24px;
        font-weight:600;
    }
    .orange {
        background:#fa8564 !important;
    }
    .tar {
        background:#45cf95 !important;
    }
    .sm-st .green {
        background:#86ba41 !important;
    }
    .pink {
        background:#AC75F0 !important;
    }
    .yellow-b {
        background: #fdd752 !important;
    }
    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color:#fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
        box-shadow: 0 1px 0px rgba(0,0,0,0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }
    .st-green {
        background-color: #27C24C;
    }
    .st-violet {
        background-color: #7266ba;
    }
    .st-blue {
        background-color: #23b7e5;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float:left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin-right: 10px; }
    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500; }
    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis; }
    .stat.lg .value {
        font-size: 26px;
        line-height: 28px; }
    .stat.lg .name {
        font-size: 16px; }
    .stat-col .progress {height:2px;}
    .stat-col .progress-bar {line-height:2px;height:2px;}

    .item {
        padding:30px 0;
    }
	.secewid{
		width: 60px !important;
		float: right;
	}
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="row">
					<div class="col-sm-12 col-xs-6 form-inline">
						<div class="form-group">
							<label for="">订单量统计</label>
						    <input type="datetime" id="" class="form-control datetimepicker" name="" placeholder="开始时间" data-date-format=" YYYY-MM-DD"  />
						    <input type="datetime" id="" class="form-control datetimepicker" name="" placeholder="结束时间" data-date-format=" YYYY-MM-DD"  />
							<button type="button" class="btn btn-info" id="polling_one">查询</button>
						</div>
					</div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-red"><i class="fa fa-users"></i></span>
                            <div class="sm-st-info">
                                <span>{$today_order_count}</span>
                                {:__('Total user')}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-violet"><i class="fa fa-book"></i></span>
                            <div class="sm-st-info">
                                <span>{$order_count}</span>
                                {:__('Total view')}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-blue"><i class="fa fa-shopping-bag"></i></span>
                            <div class="sm-st-info">
                                <span>{$message_count}</span>
                                {:__('Total order')}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-green"><i class="fa fa-cny"></i></span>
                            <div class="sm-st-info">
                                <span>{$totalorderamount}</span>
                                {:__('Total order amount')}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-6 form-inline">
						<div class="form-group">
							<label for="">订单成交统计表</label>
							<input type="datetime" id="start_time_one" class="form-control datetimepicker" name="start_time_one" placeholder="开始时间" data-date-format=" YYYY-MM-DD"  />
						</div>
					</div>
                    
                   <!-- <div class="col-lg-4">
                        <div class="card sameheight-item stats">
                            <div class="card-block">
                                <div class="row row-sm stats-container">
                                    <div class="col-xs-6 stat-col">
                                        <div class="stat-icon"> <i class="fa fa-rocket"></i> </div>
                                        <div class="stat">
                                            <div class="value"> {$todayusersignup} </div>
                                            <div class="name"> {:__('Today user signup')} </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 stat-col">
                                        <div class="stat-icon"> <i class="fa fa-shopping-cart"></i> </div>
                                        <div class="stat">
                                            <div class="value"> {$todayuserlogin} </div>
                                            <div class="name"> {:__('Today user login')} </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6  stat-col">
                                        <div class="stat-icon"> <i class="fa fa-line-chart"></i> </div>
                                        <div class="stat">
                                            <div class="value"> {$todayorder} </div>
                                            <div class="name"> {:__('Today order')} </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6  stat-col">
                                        <div class="stat-icon"> <i class="fa fa-users"></i> </div>
                                        <div class="stat">
                                            <div class="value"> {$unsettleorder} </div>
                                            <div class="name"> {:__('Unsettle order')} </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6  stat-col">
                                        <div class="stat-icon"> <i class="fa fa-list-alt"></i> </div>
                                        <div class="stat">
                                            <div class="value"> {$sevendnu} </div>
                                            <div class="name"> {:__('Seven dnu')} </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 stat-col">
                                        <div class="stat-icon"> <i class="fa fa-dollar"></i> </div>
                                        <div class="stat">
                                            <div class="value"> {$sevendau} </div>
                                            <div class="name"> {:__('Seven dau')} </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
				<div class="row" style="margin-top: 10px;">
				    <div class="col-sm-12 col-xs-12" id="line_chart" style="display: none;">
						<div class="" id="report_one11111111111" style="width: 100%;height:400px;float: left;"></div>
					</div>
				    <div class="col-sm-4 col-xs-12 form-inline">
						<div class="form-group" style="border-bottom: 1px solid #F2F2F2;padding-bottom: 10px;width: 100%;">
							<label for="" style="line-height: 26px;">订单比例统计</label><br />
							<input type="datetime" id="start_time_two" style="width: 130px;" class="form-control datetimepicker" name="start_time_two" placeholder="开始时间" data-date-format=" YYYY-MM-DD"  />
							<input type="datetime" id="end_time_two" style="width: 130px;" class="form-control datetimepicker" name="end_time_two" placeholder="结束时间" data-date-format=" YYYY-MM-DD"  />
							<button type="button" class="btn btn-info btn-sm" id="polling_two">查询</button>
						</div>
						<div class="" id="report_two" style="width:100%;float: left;" >
							
						</div>
					</div>
				    <div class="col-sm-4 col-xs-12 form-inline">
						<div class="form-group" style="border-bottom: 1px solid #F2F2F2;padding-bottom: 10px;width: 100%;">
							<label for="" style="line-height: 26px;">收货订单统计</label><br />
							<input type="datetime" id="start_time_three" style="width: 130px;" class="form-control datetimepicker" name="start_time_three" placeholder="开始时间" data-date-format=" YYYY-MM-DD"  />
							<input type="datetime" id="end_time_three" style="width: 130px;" class="form-control datetimepicker" name="end_time_three" placeholder="结束时间" data-date-format=" YYYY-MM-DD"  />
							<button type="button" class="btn btn-info btn-sm" id="polling_three">查询</button>
						</div>
						<div class="" id="report_three" style="width:100%;float: left;" >
							
						</div>
					</div>
				    <div class="col-sm-4 col-xs-12 form-inline">
						<div class="form-group" style="border-bottom: 1px solid #F2F2F2;padding-bottom: 10px;width: 100%;">
							<label for="" style="line-height: 26px;">企业类型主动发起订单统计</label><br />
							<input type="datetime" id="start_time_four" style="width: 130px;" class="form-control datetimepicker" name="start_time_four" placeholder="开始时间" data-date-format=" YYYY-MM-DD"  />
							<input type="datetime" id="end_time_four" style="width: 130px;" class="form-control datetimepicker" name="end_time_four" placeholder="结束时间" data-date-format=" YYYY-MM-DD"  />
							<button type="button" class="btn btn-info btn-sm" id="polling_four">查询</button>
						</div>
						<div class="" id="report_four" style="width:100%;height:350px;float: left;" >
							
						</div>
					</div>
				    <div class="col-sm-4 col-xs-12 form-inline">
						<div class="form-group" style="border-bottom: 1px solid #F2F2F2;padding-bottom: 10px;width: 100%;">
							<label for="">订单功能使用统计</label><br />
							<input type="datetime" id="start_time_five" style="width: 130px;" class="form-control datetimepicker" name="start_time_five" placeholder="开始时间" data-date-format=" YYYY-MM-DD"  />
							<input type="datetime" id="end_time_five" style="width: 130px;" class="form-control datetimepicker" name="end_time_five" placeholder="结束时间" data-date-format=" YYYY-MM-DD"  />
							<button type="button" class="btn btn-info btn-sm" id="polling_five">查询</button>
						</div>
						<div class="" id="report_five" style="width: 100%;float: left;">
							
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 form-inline">
						<div class="form-group" style="border-bottom: 1px solid #F2F2F2;padding-bottom: 10px;width: 100%;">
							<label for="" style="line-height: 26px;">订单统计（买家、卖家）</label><br />
							<input type="datetime" id="start_time_six" style="width: 130px;" class="form-control datetimepicker" name="start_time_six" placeholder="开始时间" data-date-format=" YYYY-MM-DD"  />
							<input type="datetime" id="end_time_six" style="width: 130px;" class="form-control datetimepicker" name="end_time_six" placeholder="结束时间" data-date-format=" YYYY-MM-DD"  />
							<button type="button" class="btn btn-info btn-sm" id="polling_six">查询</button>
						</div>
						<div id="report_six" style="width: 100%;float: left;">
							
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 form-inline">
						<div class="form-group" style="border-bottom: 1px solid #F2F2F2;padding-bottom: 10px;width: 100%;">
							<label for="" style="line-height: 26px;">评价统计</label><br />
							<input type="datetime" id="start_time_seven" style="width: 130px;" class="form-control datetimepicker" name="start_time_seven" placeholder="开始时间" data-date-format=" YYYY-MM-DD"  />
							<input type="datetime" id="end_time_seven" style="width: 130px;" class="form-control datetimepicker" name="end_time_seven" placeholder="结束时间" data-date-format=" YYYY-MM-DD"  />
							<button type="button" class="btn btn-info btn-sm" id="polling_seven">查询</button>
						</div>
						<div id="report_seven" style="width: 100%;float: left;">
							
						</div>
					</div>
				   
				</div>
			</div>
            <div class="tab-pane fade" id="two">
                <div class="row">
                    <div class="col-xs-12">
                        {:__('Custom zone')}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="newstpl" type="text/html">
    <ul class="nav nav-stacked">
        <%for(var i=0;i < news.length;i++){%>
        <%var item=news[i];%>
        <li>
            <a href="<%=item.url%>" target="_blank">
                <span class="text"><%=item.title%></span>
            </a>
        </li>
        <%}%>
    </ul>
</script>
<script id="discussiontpl" type="text/html">
    <ul class="products-list product-list-in-box">
        <%for(var i=0;i < news.length;i++){%>
        <%var item=news[i];%>
        <li class="item">
            <div class="">
                <a href="<%=item.url%>" target="_blank" class="product-title"><%=item.title%>
                    <span class="label label-warning pull-right"><%=item.comments_count%></span></a>
                <span class="product-description">
                    <%=item.last_time%>
                </span>
            </div>
        </li>
        <%}%>
    </ul>
</script>
<script>

    var Orderdata = {
    column: {:json_encode(array_keys($paylist))},
            paydata: {:json_encode(array_values($paylist))},
            createdata: {:json_encode(array_values($createlist))},
    };
    // var option = {
    //     xAxis: {
    //         type: 'category',
    //         data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    //     },
    //     yAxis: {
    //         type: 'value'
    //     },
    //     series: [{
    //         data: [120, 200, 150, 80, 70, 110, 130],
    //         data:[],
    //         type: 'bar'
    //     }]
    // };
    
    
    // $.get('{:url("/admin/Dashboard/report_one")}').done(function (data) {
    //     // 填入数据
    //     // myChart.setOption({
    //     //     xAxis: {
    //     //         type: 'category',
    //     //         data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    //     //     },
    //     //     yAxis: {
    //     //         type: 'value'
    //     //     },
    //     //     series: [{
    //     //         data: data,
    //     //         type: 'bar'
    //     //     }]
    //     // });
    //     // 饼图
    //     // option = {
    //     //     backgroundColor: '#2c343c',
    //     //     tooltip : {
    //     //         trigger: 'item',
    //     //         formatter: "{a} <br/>{b} : {c} ({d}%)"
    //     //     },
    //     //     visualMap: {
    //     //         show: false,
    //     //         min: 80,
    //     //         max: 600,
    //     //         inRange: {
    //     //             colorLightness: [0, 1]
    //     //         }
    //     //     },
    //     //     series : [
    //     //         {
    //     //             name:'访问来源',
    //     //             type:'pie',
    //     //             radius : '55%',
    //     //             center: ['50%', '50%'],
    //     //             data:data.sort(function (a, b) { return a.value - b.value; }),
    //     //             roseType: 'radius',
    //     //             label: {
    //     //                 normal: {
    //     //                     textStyle: {
    //     //                         color: 'rgba(255, 255, 255, 0.3)'
    //     //                     }
    //     //                 }
    //     //             },
    //     //             labelLine: {
    //     //                 normal: {
    //     //                     lineStyle: {
    //     //                         color: 'rgba(255, 255, 255, 0.3)'
    //     //                     },
    //     //                     smooth: 0.2,
    //     //                     length: 10,
    //     //                     length2: 20
    //     //                 }
    //     //             },
    //     //             itemStyle: {
    //     //                 normal: {
    //     //                     color: '#c23531',
    //     //                     shadowBlur: 200,
    //     //                     shadowColor: 'rgba(0, 0, 0, 0.5)'
    //     //                 }
    //     //             },

    //     //             animationType: 'scale',
    //     //             animationEasing: 'elasticOut',
    //     //             animationDelay: function (idx) {
    //     //                 return Math.random() * 200;
    //     //             }
    //     //         }
    //     //     ]
    //     // };
    //     // 折线图
    //     option = {
    //         title: {
    //             text: '折线图堆叠'
    //         },
    //         tooltip: {
    //             trigger: 'axis'
    //         },
    //         legend: {
    //             data:['总数量','总金额']
    //         },
    //         grid: {
    //             left: '3%',
    //             right: '4%',
    //             bottom: '3%',
    //             containLabel: true
    //         },
    //         toolbox: {
    //             feature: {
    //                 saveAsImage: {}
    //             }
    //         },
    //         xAxis: {
    //             type: 'category',
    //             boundaryGap: false,
    //             data: data.date
    //         },
    //         yAxis: {
    //             type: 'value'
    //         },
    //         series: data.data
    //     };

    //     myChart.setOption(option,true);
    // });
    
</script>
<script>
	var two=$('#report_two').width();
	$('#report_two').height(two);
	$('#report_three').height(two);
	$('#report_four').height(two);
	$('#report_five').height(two);
	$('#report_six').height(two);
	$('#report_seven').height(two);
</script>