<style type="text/css">
    @media (max-width: 375px) {
        .edit-form tr td input{width:100%;}
        .edit-form tr th:first-child,.edit-form tr td:first-child{
            width:20%;
        }
        .edit-form tr th:nth-last-of-type(-n+2),.edit-form tr td:nth-last-of-type(-n+2){
            display: none;
        }
    }
    .edit-form table > tbody > tr td a.btn-delcfg{
        visibility: hidden;
    }
    .edit-form table > tbody > tr:hover td a.btn-delcfg{
        visibility: visible;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            {foreach $sysList as $index=>$vo} 
            <li class="{$vo.active?'active':''}"><a href="#{$vo.type}" data-toggle="tab">{$vo.name}</a></li>
            {/foreach}
        </ul>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            {foreach $sysList as $index=>$vo} 
            <div class="tab-pane fade {$vo.active ? 'active in' : ''}" id="{$vo.type}">
                <div class="widget-body no-padding">
                    <form id="{$vo.type}-form" class="edit-form form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('sysconfig/edit')}">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="15%">{:__('Title')}</th>
                                    <th width="68%">{:__('Value')}</th>
                                    <th width="2%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{$vo.name}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-8 col-xs-12">
                                                <input type="hidden" name="row[type]" value="{$vo.type}" class="form-control" />
                                                {switch $vo.type}
                                                {case bankcardqrcode}
                                                        <div class="input-group">
                                                            <input id="c-image" data-rule="" class="form-control" size="50" name="row[image]" type="text" value="{$vo.image}">
                                                            <div class="input-group-addon no-border no-padding">
                                                                <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                                                            </div>
                                                            <span class="msg-box n-right" for="c-image"></span>
                                                        </div>
                                                        <ul class="row list-inline plupload-preview" id="p-image"></ul>
                                                {/case}
                                                {case contactinfo}
                                                    <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50">{$vo.content}</textarea>
                                                {/case}
                                                {/switch}
                                            <div class="col-sm-4"></div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td><a href="javascript:;" class="btn-delcfg text-muted" data-name=""><i class="fa fa-times"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                                        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</div>